body {
  /* Code */
  --code-background: var(--background-primary-alt);

  // Change the position, color, and pointer for the source code link
  // that appears in the top right
  .markdown-source-view.mod-cm6 .code-block-flair {
    right: 1px;
    top: 1px;
    color: var(--text-faint);
    cursor: pointer;
  }
}
.theme-light {
  // Code block borders and background
  --code-block-border-width: 1px;
  --code-block-border-style: solid;
  --code-block-border-color: var(--color-base-40);
}
.theme-dark {
  // Code block borders and background
  --code-block-border-width: 1px;
  --code-block-border-style: solid;
  --code-block-border-color: var(--color-base-95);
}
.cm-s-obsidian div.HyperMD-codeblock-bg {
  border-style: var(--code-block-border-style);
  border-color: var(--code-block-border-color);
  border-width: 0 var(--code-block-border-width) 0 var(--code-block-border-width);
}
.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-style: var(--code-block-border-style);
  border-color: var(--code-block-border-color);
  border-width: var(--code-block-border-width) var(--code-block-border-width) 0 var(--code-block-border-width);
}
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: var(--code-block-border-style);
  border-color: var(--code-block-border-color);
  border-width: 0 var(--code-block-border-width) var(--code-block-border-width) var(--code-block-border-width);
}