// tag view tree in the right side bar, this is the 
// hover color for the count of tags on the right
.tree-item-self:hover .tree-item-flair {
  color: var(--color-base-20);
}

// search settings
.search-params {
  .setting-item {
    .setting-item-info {
      .setting-item-name {
        color: var(--text-muted);
      }
    }
  }
}

// Vault text color fix, thanks @WAS-D
// https://github.com/seanwcom/Red-Graphite-for-Obsidian/pull/37
.theme-light {
  --vault-profile-color: var(--nav-item-color);
}
.theme-dark {
  --vault-profile-color: var(--nav-item-color);
}