.theme-light {
  /* Ribbon */
  --ribbon-background: var(--color-base-95);
  --ribbon-background-collapsed: var(--color-base-95);
}
.theme-dark {
  /* Ribbon */
  --ribbon-background: var(--color-base-95);
  --ribbon-background-collapsed: var(--color-base-95);
}