body {
  /* Status bar */
  --status-bar-background: var(--divider-color);
  --status-bar-border-color: var(--divider-color);
  --status-bar-radius: var(--radius-m) 0 0 0;
  // --status-bar-radius: 0;
}