.theme-light {
  /* Vault name */
  --vault-name-font-size: var(--font-ui-medium);
  --vault-name-font-weight: var(--font-medium);
  --vault-name-color: var(--color-accent);
}

.theme-dark {
  /* Vault name */
  --vault-name-font-size: var(--font-ui-medium);
  --vault-name-font-weight: var(--font-medium);
  --vault-name-color: var(--color-accent);
}