body {
  /* Window frame */
  --titlebar-background: var(--color-base-95);
  --titlebar-background-focused: var(--color-base-95);
  --titlebar-text-color: var(--text-faint);
  --titlebar-text-color-focused: var(--text-faint);
  --titlebar-text-weight: var(--font-normal);
}