.theme-light
{
  --background-nav-alt: rgba(58, 62, 63, 255);
  --background-nav: rgba(41, 44, 46, 255);
  --background-primary: rgba(250, 250, 250);
  --bear-red: rgba(203, 77, 73, 255);
  --code-block-background: #ffffff;
  --code-block-border: #92a1a17a;
  --font-family-editor: Avenir, "Avenir Next";
  --font-family-preview: Avenir, "Avenir Next";
  --interactive-accent: rgba(203, 77, 73, 255);
  --list-color: #db4d52;
  --text-accent: rgba(196, 84, 86, 255);
  --text-faint: rgba(150, 150, 150, 255);
  --text-highlight-bg: #b4ff0066;
  --text-nav-selected: rgba(255, 255, 255, 255);
  --text-nav: rgba(190, 190, 190, 255);
  --text-normal: rgba(44, 44, 44, 255);
}

/* Top left "File explorer" text */
.side-dock-title {
  color: var(--text-nav);
}

/* Wrap long nav text */
.nav-file-title, .nav-folder-title {
  white-space: normal;
}

/* Indent wrapped nav text */
.nav-file-title-content {
  margin-left: 10px;
  text-indent: -10px;
}

/* Horizontal rule between Icons and vault in left nav */
.nav-buttons-container {
  border-bottom: 1px solid var(--background-nav-alt);
}

/* Just above the folder tree, the name of the vault */
.nav-folder.mod-root > .nav-file-title, .nav-folder.mod-root > .nav-folder-title {
  color: var(--text-nav);
}

/* Padding on left side of nav items so that hover doesn't butt up against ribbon */
.nav-folder.mod-root > .nav-folder-children {
  padding-left: 5px;
}

/* Color of left nav tree text */
.nav-file-title, .nav-folder-title {
  color: var(--text-nav);
}

/* Set the left nav background to same color as ribbon so we can make a curved corner that matches */
.side-dock-panels-container {
  background-color: var(--background-nav-alt);
}

/* Set the left nav background to different color from ribbon, and give a curved corner with statusbar */
.side-dock.mod-left .side-dock-plugin-panel {
  background-color: var(--background-nav);
  border-bottom-left-radius: 10px;
}

/* Set the right nav background to different color from ribbon, and give a curved corner with statusbar */
.side-dock.mod-right .side-dock-plugin-panel {
  background-color: var(--background-nav);
  border-bottom-right-radius: 10px;
}

/* Left nav ribbon background color */
.side-dock-ribbon {
  background-color: var(--background-nav-alt);
}

/* Left nav ribbon background-color */
.side-dock-ribbon-before.is-before-active, 
.side-dock-ribbon-after.is-after-active, 
.side-dock-ribbon-tab.is-before-active, 
.side-dock-ribbon-tab.is-after-active {
  background-color: var(--background-nav);
}

/* Left nav ribbon background-color */
.side-dock-ribbon-before.is-before-active .side-dock-ribbon-tab-inner, 
.side-dock-ribbon-after.is-after-active .side-dock-ribbon-tab-inner, 
.side-dock-ribbon-tab.is-before-active .side-dock-ribbon-tab-inner, 
.side-dock-ribbon-tab.is-after-active .side-dock-ribbon-tab-inner {
  background-color: var(--background-nav-alt);
}

/* Left nav ribbon active background-color */
.side-dock-ribbon-tab.is-active {
  background-color: var(--background-nav);
}

/* Left nav ribbon active hover text color (icon color) */
.side-dock-ribbon-tab.is-active:hover {
  color: var(--bear-red);
}

/* Left nav ribbon inactive hover text color (icon color) */
.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover {
  color: var(--bear-red);
}

/* Background and text color of selected item in left nav tree */
.nav-file.is-active > .nav-file-title, 
.nav-file.is-active > .nav-folder-title, 
.nav-file.is-active > .nav-folder-collapse-indicator, 
.nav-folder.is-active > .nav-file-title, 
.nav-folder.is-active > .nav-folder-title, 
.nav-folder.is-active > .nav-folder-collapse-indicator {
  background-color: var(--bear-red);
  color: var(--text-nav-selected);
}

/* Background and text color of selected item in left nav tree - when hovering */
.nav-file.is-active > .nav-file-title:hover, 
.nav-file.is-active > .nav-folder-title:hover, 
.nav-file.is-active > .nav-folder-collapse-indicator:hover, 
.nav-folder.is-active > .nav-file-title:hover, 
.nav-folder.is-active > .nav-folder-title:hover, 
.nav-folder.is-active > .nav-folder-collapse-indicator:hover {
  background-color: var(--bear-red);
  color: var(--text-nav-selected);
}

/* Background and text color of hovered item in left nav tree */
body:not(.is-grabbing) .nav-file-title:hover, 
body:not(.is-grabbing) .nav-folder-title:hover {
  background-color: var(--background-secondary-alt);
  color: var(--text-nav-selected);
}

/* Background and text color of hovered collapse indicator in left nav tree */
body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
  background-color: var(--background-secondary-alt);
  color: var(--text-nav-selected);
}

/* Left Nav menu item - hover background color */
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
  background-color: var(--background-nav-alt);
}

/* Left Nav menu item - hover background color of the collapse/expand arrow */
body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator, 
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
  background-color: var(--background-nav-alt);
}

/* Left side dock */
.side-dock.mod-left {
  border-right: 1px solid var(--background-secondary-border);
}

/* Font adjustments for pane headers */
.view-header-title {
  font-size: 16px;
  font-weight: 600;
}

/* Status bar ... duh? :) */
.status-bar {
  background-color: var(--background-nav-alt);
  border-top: 0px solid var(--background-nav-alt);
  color: var(--text-nav);
}

/* Testing a gradient design for statusbar */
/* .status-bar {
  border-top: 0px;
  background-color: var(--background-nav-alt);
  background: linear-gradient(90deg, rgba(255,0,0,0) 5%, var(--background-nav-alt) 20%);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 500px;
  color: var(--text-nav);
} */

/* Context menu hover item */
.menu-item:hover {
  background-color: var(--background-secondary-alt);
  color: var(--bear-red);
}


/* Font for the markdown source panel */
div.markdown-source-view {
	font-family: var(--font-family-editor);
}

/* Font for the markdown preview panel */
div.markdown-preview-view {
	font-family: var(--font-family-preview);
}

/* Enable wrapping of code blocks in the preview panel */
.theme-light code[class*="language-"], 
.theme-light pre[class*="language-"] {
  white-space: pre-wrap;
  background-color: #ffffff
}

/* Changing size/color of the header hashtags ## */
.cm-formatting-header {
	color: var(--text-faint);
	font-size: 0.6em;
}

/* Coloring the list bullets/numbers */
.cm-s-obsidian span.cm-formatting-list {
	color: #d40000;
  font-size: 0.85em;
  font-weight: 500;
  font-family: var(--font-monospace);
}

/* Editor view - task list, color and veritcal align */
.cm-s-obsidian span.cm-formatting-task {
  color: #d40000;
  font-size: 0.85em;
  font-weight: 500;
  position: relative;
  top: -0.12em;
}

/* Preview Checkboxes don't seem to align correctly */
.markdown-preview-view .task-list-item-checkbox {
  width: 15px;
  height: 15px;
  /* position: relative; */
  /* top: 3px; */
}


/* Preview code block background */
.markdown-preview-view pre {
  padding: 1em;
  background-color: var(--code-block-background);
  border-radius: 4px;
  border: 1px solid var(--code-block-border);
  white-space: pre-wrap;
}

/* Code block border color */
.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
	border-top: 1px solid var(--code-block-border);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/* Code block border color */
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
	border-bottom: 1px solid var(--code-block-border);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* Code block background color */
.cm-s-obsidian div.HyperMD-codeblock-bg {
  background-color: var(--code-block-background);
}

/* Code block left and right padding */
.cm-s-obsidian pre.HyperMD-codeblock {
	padding: 0px 10px 0px 10px;
}

/* Code block top padding */
.cm-s-obsidian pre.HyperMD-codeblock-begin {
	padding-top: 10px;
}

/* Code block bottom padding */
.cm-s-obsidian pre.HyperMD-codeblock-end {
	padding-top: 10px;
}

/* Code block left and right border colors */
.cm-s-obsidian div.HyperMD-codeblock-bg {
	border-left: 1px solid var(--code-block-border);
	border-right: 1px solid var(--code-block-border);
}

/* Tag pillbox - common settings for editor left, editor right and preview */
.cm-s-obsidian span.cm-hashtag-begin, 
.cm-s-obsidian span.cm-hashtag-end,
a.tag {
  background-color: #b5b5b5;
  color: #ffffff;
  padding-bottom: 4px;
  padding-top: 4px;
	text-decoration: none;
  font-family: var(--font-family-editor);
  font-size: 0.9em;
}

/* Tag editor left side pillbox */
.cm-s-obsidian span.cm-hashtag-begin {
	border-top-left-radius: 250px;
	border-bottom-left-radius: 250px;
	padding-left: 10px;
}

/* Tag editor right side pillbox */
.cm-s-obsidian span.cm-hashtag-end {
	border-top-right-radius: 250px;
	border-bottom-right-radius: 250px;
	padding-right: 12px;
}

/* Tag preview pillbox */
a.tag {
	border-top-left-radius: 250px;
	border-top-right-radius: 250px;
	border-bottom-left-radius: 250px;
	border-bottom-right-radius: 250px;
	padding-left: 10px;
	padding-right: 12px;
}

/* Add a tiny bit of padding to the link brackets and parenthesis */
.cm-s-obsidian span.cm-formatting-link,
.cm-s-obsidian span.cm-formatting-link-string {
  padding: 0 1px 0 1px;
  /* font-weight: 500; */
}

/* Set background of code panes to pure white since main background is off-white */
.markdown-preview-view code {
  background-color: rgba(0, 0, 0, 0);
  bottom: 0px
}

/* Additional left/right padding for tag pane so hover background has some room */
.tag-pane-tags {
  padding-left: 10px;
  padding-right: 5px;
}

/* Color the hover background like we do the selected left nav */
.tag-pane-tag:hover {
  background-color: var(--background-nav-alt);
  color: var(--text-nav-selected);
}

/* Style the tag pane tag count with the bear red coloring used in selected item from left nav */
.tag-pane-tag-count {
  background-color: var(--bear-red);
  color: var(--text-nav-selected);
}

/* Backlinks title match hover */
.search-result-file-title:hover {
  background-color: var(--background-nav-alt);
}

/* Backlinks content match hover */
.search-result-file-match:hover {
  background-color: var(--background-nav-alt);
}

/* Backlink titles for matches */
.search-result-file-title {
  color: var(--text-nav);
}

/* Backlink highlighted [[links]] */
.search-result-file-matched-text {
  color: var(--text-nav-selected);
  background-color: var(--bear-red);
  padding: 2px;
  border-radius: 4px;
}


/* Add button hovers to the the Update internal links modal (and possibly others) */
.modal-button-container button:not(.mod-cta):not(.mod-warning):hover {
  background-color: var(--bear-red);
  color: var(--text-nav-selected);
}